:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black-bg {
    background: rgb(0, 0, 0);
    color: var(--white-color);
}

.blue-violet-bg {
    background: linear-gradient(rgb(7, 109, 134) 1%, rgb(53, 6, 97) 99%);
    color: var(--white-color);
}

/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

body {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;

}

h1 {
    font-size: 4rem;
    Text-transform: uppercase;

}

h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

a {
    text-decoration: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.2rem solid var(--light-gray-color);
}

.conteudo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
}

.conteudo-menu a {
    color: var(--white-color)
}

.conteudo-principal {
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
}

.conteudo-principal a {
    color: var(--white-color);
}

.menu ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}

.menu ul li a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
    color: var(--white-color);
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--white-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.section {
    min-height: 100vh;
}

.close-menu {
    display: none;
}

.content {
    height: 600px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3.1rem;
}

.navigation {
    position: inherit;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 17px;
    border: 2px solid var(--white-color);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: var(--white-color);
}

.content input {
    display: none;
}

.slides {
    display: flex;
    width: 1000%;
    height: 100%;
}

.slide {
    width: 10%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -10%;
}

#slide3:checked~.s1 {
    margin-left: -20%;
}

#slide4:checked~.s1 {
    margin-left: -30%;
}

#slide5:checked~.s1 {
    margin-left: -40%;
}

#slide6:checked~.s1 {
    margin-left: -50%;
}

#slide7:checked~.s1 {
    margin-left: -60%;
}

#slide8:checked~.s1 {
    margin-left: -70%;
}


.conteudo-quem-somos {
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    font-size: 3rem;
    padding-top: 9rem;
}

.conteudo-nossosboxes {
    padding-top: 9rem;
    padding-bottom: 3rem;
}

.img_box {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 25px;
}

.img_pq {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}

.img_pq:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nossos-planos {
    padding-top: 8.5rem;
}

.conteudo-nossosplanos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.plano-mensal {
    display: block;
    width: 500px;
    height: 350px;
    background: blueviolet;
    margin-top: 2rem;
    margin-left: 50px;
    border-radius: 20px;
}

.plano-mensal-texto {
    color: var(--white-color);
    font-size: 8rem;
    text-align: center;
    text-decoration-line: underline;
    margin: 5px 10px;
}

.plano-mensal-texto-1 {
    font-size: 2rem;
    text-align: center;
    margin: 5px 10px;
    padding-top: 1rem;
}

.plano-mensal-texto-2 {
    font-size: 2rem;
    text-align: center;
    margin: 5px 10px;
    padding-top: 3rem;
}

.plano-anual {
    display: block;
    width: 500px;
    height: 350px;
    background: blueviolet;
    margin-top: 2rem;
    margin-left: 50px;
    border-radius: 20px;
}

.plano-anual-texto {
    color: var(--white-color);
    font-size: 8rem;
    text-align: center;
    text-decoration-line: underline;
    margin: 5px 7px;
}

.plano-anual-texto-1 {
    color: var(--white-color);
    font-size: 2rem;
    text-align: center;
    margin: 5px 10px;
    padding-top: 2rem;
}

.conteudo-contato {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    padding-top: 6rem;
}

.formulario-contato {
    grid-column: span 2;
}

.formulario-contato .formulario-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.formulario-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.grupo-formulario {
    flex: 1 1 320px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 1rem;
}

.grupo-formulario input,
.grupo-formulario textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.grupo-formulario input:focus,
.grupo-formulario textarea:focus {
    box-shadow: 0 0 10px 2px blueviolet;
}

.grupo-formulario button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    justify-content: center;
    margin-bottom: 2rem;
    ;
}

.grupo-formulario button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.grupo-formulario::placeholder {
    color: var(--light-gray-color);
}

.whatsapp-logo {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.whatsapp-link img {
    height: 50px;
    width: 50px;
}

#footer .conteudo-rodape {
    height: 15px;
}

.texto-rodape {
    color: #fff;
    text-align: center;
}

@media (max-width: 1000px) {
    
    h2 {
        font-size: 3rem;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .conteudo-menu,
    .conteudo-menu ul {
        flex-direction: column;
        justify-content: center;
    }

    .conteudo-menu {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    /* x */
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: 'x';
    }
    .section {
        min-height: 75vh;
    }
    body #home .content {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
        padding: 0;
        overflow: hidden;
    }
    
    .conteudo-quem-somos {
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding: 3rem 0;
    }

    .conteudo-nossosboxes {
        text-align: center;
    }

    .nossos-planos {
        width: 100%;
        height: 100%;
        padding-bottom: 4rem;
        justify-content: center;
        align-items: center;
    }

    .nossos-planos h2 {
        text-align: center;
    }

    .conteudo-nossosplanos {
        display: grid;
        grid-template-columns: 1fr;
    }

    .conteudo-nossosplanos .plano-mensal {
        width: 70%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        text-align: center;
        overflow: hidden;
    }

    .plano-mensal h1 {
        font-size: 5rem;
    }

    .plano-mensal h2 {
        font-size: 2rem;
    }

    .conteudo-nossosplanos .plano-anual {
        width: 70%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .plano-anual h1 {
        font-size: 5rem;
    }

    .plano-anual h2 {
        font-size: 2rem;
    }

    .conteudo-contato {
        grid-template-columns: 1fr;
        margin: 0 10px;
        align-items: center;
    }

    .contact-img {
        display: none;
    }
}