.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    margin-left: 2rem;
}
.conteudo-grid {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    padding-top: 6rem;
    margin-left: 2rem;
}